<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Server Side Event Example in Go</title>
</head>
<body>

	You're here for a better audio experience. Enjoy.

	<script type="text/javascript">

	    // Create a new HTML5 EventSource
	    var source = new EventSource('/events/');

	    // Create a callback for when a new message is received.
	    source.onmessage = function(e) {
			console.log("Got message " + e.data);

	        // Append the `data` attribute of the message to the DOM.
	        //document.body.innerHTML += e.data + '<br>';
			if(e.data.includes("start1")){
				console.log("Playing audio");
				var audio = document.getElementById("audio");
				audio.play();
			}
	    };
	</script>
<audio id="audio" src="/fantasmic.ogg" ></audio>
</body>
</html>
